<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
<!--      <pattern>%d{HH:mm:ss.SSS}|%highlight(%-5level)|%green(%t)|%blue(%class{10}.%method)|%msg%n</pattern>-->
      <pattern>%d{HH:mm:ss.SSS}|%highlight(%-5level)|%green(%t)|%blue(%logger.%method)|%msg%n</pattern>
    </encoder>
  </appender>
  <root level="debug">
    <appender-ref ref="stdout" />
  </root>
<!--  <logger name="reactor.Flux.MapFuseable" level="debug">-->
<!--    <appender-ref ref="stdout" />-->
<!--  </logger>-->
<!--  <logger name="reactor.Mono.MapFuseable" level="debug">-->
<!--    <appender-ref ref="stdout" />-->
<!--  </logger>-->
<!--  <logger name="dev.fastcampus" level="debug">-->
<!--    <appender-ref ref="stdout" />-->
<!--  </logger>-->
</configuration>